body{
    margin: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(0, 133, 250);
    padding: 3px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    justify-content: end;
    display: flex;
}
li{
    margin-left: 5px;
    padding: 5px;
}

.logo{
    display: flex;
    align-items: center;
}

.img-logo{
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.boton{
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.486);
    padding: 5px 10px;
    color: aliceblue;
    background-color: rgb(209, 84, 0);
    border-radius: 5px;
}
.boton:hover{
    background-color: rgba(209, 84, 0, 0.70);
}
section{
    background-color: rgb(92, 0, 0);
    width: 80%;
    padding: 20px;
    margin: 0 auto;
}
h1{
    margin: 0px;
}
.menu-wrap{
    border: 1px solid yellow;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.w-img{
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid rgba(197, 20, 20, 0.842);
    display: flex;
    align-items: center;
    background-color: white;
}
.hamb{
    width: 100%;
    overflow:hidden;
}
.precio{
    text-align: center;
    background-color: rgb(65, 4, 4);
    padding: 20px 20px;
}
.boton-ordenar{
    border: 1px solid rgb(0, 87, 19);
    width: 100%;
    background-color: rgb(0, 172, 72);
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
}
.desc{
    padding: 10px;
}
.banner{
    width: 100%;
}